.box1{
    float: left;
    width: calc(30% - 30px);
    background-color: rgb(47, 58, 64);
    color: aliceblue;
    padding: 0 30px;
    
}
.box2{
    float: right;
    width: calc(70% - 60px);
    height: 100%;
    color: rgb(47, 58, 64);
    padding-left: 30px;
    padding-right: 30px;
    background-color: rgb(251, 251, 252);

}
#box{
    width: 1200px;
    box-sizing: border-box;
    background-color: rgb(251, 251, 252);
    margin: 0 auto;
    font-family: sans-serif;
    display: flex;
    aspect-ratio: 210 / 297;
    font-size: 120%;
}
body{
    background-color: rgba(40, 40, 40, 0.519);
}
/* box1 */
.ava_box {
    padding: 7px;
    margin: 60px 20px 15px 15px;
    text-align: center;
    box-sizing: border-box;
    border: 2px solid rgb(251, 251, 252);  
}
#avatar{
    display: block;
    width: 100%;
    margin: 0 auto;
    background-color: rgb(251, 251, 252);   

}
.icons{
    width: 13px;
    height: 13px;
    border-radius: 50%;
    margin-right: 10px;
    background-color: aliceblue;
    padding: 3px; /* tao o mau trang o sau icon*/
    transform: translate(0px,4px);
}
#info{
    
}
#chungchi,#nguoithamchieu{
    margin: 40px 0;
    line-height: 0.6;
}
.thamchieu{
    margin-top: 0px;  
    margin-bottom: 25px;
    line-height: 0.5;
}
hr{
    width: 70px;
    float: left;
    margin-top: 0px;
}
/* box2 */
.box2 > div{
    margin-bottom: 20px;
}
.box2 > div > p{
    margin-bottom: 0px;
}
#name{
    font-size: 240%;
    font-weight: bold;
    margin-bottom: 0;
    line-height: 0.7;
    padding-top: 25px;
}
.job {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    font-style: italic;
}
/* others */
.daumuc{
    font-size: 180%;
    font-weight: 700;
}
.daumuc2{
    font-weight: bold;
    font-size: 150%;
}