.form-group{
    margin-bottom: 15px;
    float: left;
    width: 100%;
}
.form-group label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
.form-group input [type="text"],
.form-group input[type="email"],
.form-group input[type="password"],
.form-group textarea,
.form-group select,
.form-group input[type="number"],
.form-group input[type="date"],
.form-group input[type="tel"],
.form-group input[type="url"],
 {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.form-group input[name="password"] {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}